/* 
Sea Wolf color theme from color.adobe.com 
black: rgb(30, 30, 32);
dark-grey: rgb(42, 44, 43);
grey: rgb(55, 65, 64);
tan: rgb(217, 203, 158);
*/

.tan-txt {
	color: rgb(217, 203, 158);
}

.black-bg {
	background-color: rgb(30, 30, 32)
}

.dark-grey-bg {
	background-color: rgb(42, 44, 43);
}

.flex {
	display: flex;
	flex-direction: column;
}