@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400italic,700,700italic);

/* 
Sea Wolf color theme from color.adobe.com 
black: rgb(30, 30, 32);
dark-grey: rgb(42, 44, 43);
grey: rgb(55, 65, 64);
tan: rgb(217, 203, 158);
*/

html {
	height: 100%;
}

body {
	min-height: 100%;
}

main {
	flex: 1 0 auto;
}

.flex {
	display: flex;
	flex-direction: column;
}

.pad-1 {
	padding: 1em;
}

.pad-2 {
	padding: 2em;
}

.rnd {
	border-radius: 5px;
}

.roboto {
	font-family: 'Roboto Condensed', sans-serif;
}

.tan-txt {
	color: rgb(217, 203, 158);
}

.blk-text {
	color: rgb(30, 30, 32);
}

.black-bg {
	background-color: rgb(30, 30, 32)
}

.dark-grey-bg {
	background-color: rgb(42, 44, 43);
}

